.bg {
  align-self: stretch;
  height: 827px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  display: none;
}
.orderDetails {
  margin: 0;
  font-size: var(--body-xl-body-xl-500-size);
  font-weight: 500;
  font-family: inherit;
  color: var(--gray-scale-gray-900);
}
.div,
.orderDetails {
  position: relative;
  line-height: 150%;
}
.rectangleInputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.april242021 {
  position: relative;
  line-height: 150%;
}
.rectangleInputField1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.div1 {
  position: relative;
  line-height: 150%;
}
.rectangleInputField2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.products {
  position: relative;
  line-height: 150%;
}
.frameSubscribe,
.rectangleInputField3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleInputField3 {
  flex-direction: column;
  padding: var(--padding-8xs-5) 0 0;
}
.frameSubscribe {
  flex-direction: row;
  gap: 0 8px;
  max-width: 100%;
}
.backToList {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.contactLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  font-size: var(--body-medium-body-medium-500-size);
  color: var(--branding-success);
}
.billingShippingChild,
.heading {
  background-color: var(--gray-scale-white);
  box-sizing: border-box;
}
.heading {
  align-self: stretch;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  box-shadow: var(--line-shadow);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-5xl);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.billingShippingChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  border: 1px solid var(--gray-scale-gray-100);
  width: 100%;
  height: 100%;
  display: none;
}
.billingAddress,
.shippingAddress {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.linksFruitVegetables,
.linksMeatFish {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.linksMeatFish {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.linksFruitVegetables {
  width: 488px;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.copyrightFrame,
.copyrightFrame1 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  z-index: 1;
}
.copyrightFrame1 {
  z-index: 2;
}
.linksBeautyHealth {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.dainneRussell,
.parkerRdAllentown {
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.parkerRdAllentown {
  align-self: stretch;
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-600);
}
.headerText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px 0;
}
.email {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.dainneressellgmailcom {
  align-self: stretch;
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  color: var(--gray-scale-gray-900);
  white-space: nowrap;
  z-index: 1;
}
.inputField {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px 0;
}
.phone {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.frame,
.text {
  align-self: stretch;
}
.frame {
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  color: var(--gray-scale-gray-900);
  z-index: 1;
}
.text {
  gap: 4px 0;
}
.headerGroup,
.rectangle,
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle {
  align-self: stretch;
  gap: 12px 0;
  font-size: var(--caps-lock-small-caps-lock-size);
  color: var(--gray-scale-gray-400);
}
.headerGroup {
  flex: 1;
  gap: 36px 0;
  min-width: 183px;
}
.dainneRussell1,
.parkerRdAllentown1 {
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.parkerRdAllentown1 {
  align-self: stretch;
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-600);
}
.dainneRussellParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px 0;
}
.email1 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.dainneressellgmailcom1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  color: var(--gray-scale-gray-900);
  white-space: nowrap;
  z-index: 1;
}
.emailParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px 0;
}
.div2,
.phone1 {
  position: relative;
  z-index: 1;
}
.phone1 {
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.div2 {
  align-self: stretch;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  color: var(--gray-scale-gray-900);
}
.phoneParent {
  align-self: stretch;
  gap: 4px 0;
}
.frameParent,
.headerGroup1,
.phoneParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  gap: 12px 0;
  font-size: var(--caps-lock-small-caps-lock-size);
  color: var(--gray-scale-gray-400);
}
.headerGroup1 {
  flex: 1;
  gap: 36px 0;
  min-width: 183px;
}
.cartFrame {
  flex: 1;
  flex-direction: row;
  gap: 0 30px;
}
.cartFrame,
.methodPaymentIcons,
.textCategories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.methodPaymentIcons {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-medium-body-medium-500-size);
  color: var(--gray-scale-gray-900);
}
.textCategories {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  flex-direction: column;
  gap: 16px 0;
}
.billingShippingItem {
  position: absolute;
  top: 0;
  left: 312px;
  width: 0;
  height: 280px;
  z-index: 3;
}
.billingShipping {
  height: 280px;
  flex: 1;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  min-width: 406px;
  max-width: 100%;
  z-index: 1;
}
.orderId {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.frame1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  color: var(--gray-scale-gray-900);
}
.dropdown {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px 0;
}
.buttonChild {
  height: 40px;
  width: 0;
  position: relative;
  min-height: 40px;
}
.paymentMethod {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.paypal {
  align-self: stretch;
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 150%;
  color: var(--gray-scale-gray-900);
}
.button,
.dropdown1,
.image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown1 {
  flex: 1;
  flex-direction: column;
  gap: 6px 0;
  min-width: 83px;
}
.button,
.image {
  flex-direction: row;
}
.button {
  flex: 1;
  gap: 0 20px;
}
.image {
  align-self: stretch;
  padding: 0 var(--padding-xl);
}
.frameGroup {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
}
.frame2,
.subtotal1 {
  position: relative;
  line-height: 150%;
}
.frame2 {
  font-weight: 500;
  color: var(--gray-scale-gray-900);
  white-space: nowrap;
}
.subtotal {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-xl);
}
.frame3 {
  margin-top: -1px;
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
}
.discount1,
.frame4 {
  position: relative;
  line-height: 150%;
}
.frame4 {
  font-weight: 500;
  color: var(--gray-scale-gray-900);
}
.text2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.discount,
.shippingChild {
  align-self: stretch;
  box-sizing: border-box;
}
.discount {
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  gap: 13px 0;
}
.shippingChild {
  margin-top: -1px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-scale-gray-100);
}
.free,
.shipping1 {
  position: relative;
  line-height: 150%;
}
.free {
  font-weight: 500;
  color: var(--gray-scale-gray-900);
}
.shippingParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.shipping,
.totalChild {
  align-self: stretch;
  box-sizing: border-box;
}
.shipping {
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  gap: 13px 0;
}
.totalChild {
  margin-top: -1px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-scale-gray-100);
}
.div3,
.total2 {
  position: relative;
  line-height: 150%;
}
.div3 {
  font-weight: 600;
  color: var(--branding-success-dark);
  white-space: nowrap;
}
.header,
.total1,
.totalParent {
  display: flex;
  align-items: flex-start;
}
.totalParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header,
.total1 {
  flex-direction: column;
  justify-content: flex-start;
}
.total1 {
  align-self: stretch;
  height: 39px;
  gap: 13px 0;
  font-size: var(--body-large-body-large-500-size);
  color: var(--gray-scale-gray-900);
}
.header {
  flex: 1;
  gap: 2px 0;
}
.text1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-600);
}
.socialMediaIcons,
.text1,
.total {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.total {
  width: 288px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-lg) 0;
  gap: 18px 0;
  min-width: 288px;
  z-index: 1;
  font-size: var(--caps-lock-small-caps-lock-size);
}
.socialMediaIcons {
  align-self: stretch;
  flex-direction: row;
  gap: 0 24px;
  max-width: 100%;
}
.lineIcon {
  height: 0;
  width: 760px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 0px);
  left: calc(50% - 380px);
  z-index: 1;
}
.container,
.progressTrackerPoint {
  width: 40px;
  height: 40px;
  position: relative;
}
.progressTrackerPoint {
  min-height: 40px;
}
.container {
  border-radius: 50%;
  background-color: var(--branding-success);
}
.frame5 {
  align-self: stretch;
  position: relative;
  line-height: 40px;
  font-weight: 500;
  z-index: 1;
  margin-top: -40px;
}
.progressTrackerPoint1 {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-scale-white);
}
.container1 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-scale-white);
  border: 0 dashed var(--branding-success);
  box-sizing: border-box;
}
.div4 {
  flex: 1;
  position: relative;
  line-height: 40px;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -40px;
}
.progressTrackerPoint2 {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container2 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-scale-white);
  border: 0 dashed var(--branding-success);
  box-sizing: border-box;
}
.div5 {
  flex: 1;
  position: relative;
  line-height: 40px;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -40px;
}
.button1,
.progress,
.progressTrackerPoint3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.progressTrackerPoint3 {
  height: 40px;
  width: 40px;
  justify-content: flex-start;
}
.button1,
.progress {
  max-width: 100%;
}
.progress {
  flex: 1;
  justify-content: space-between;
  position: relative;
  gap: var(--gap-xl);
  z-index: 2;
}
.button1 {
  width: 824px;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.orderReceived,
.processing {
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.orderReceived {
  width: 104px;
  display: inline-block;
}
.processing {
  align-self: stretch;
  font-weight: 500;
}
.text4 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.onTheWay {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.delivered,
.text5 {
  color: var(--gray-scale-gray-800);
}
.text5 {
  width: 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.delivered {
  width: 66px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  z-index: 1;
}
.text3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  color: var(--branding-success-dark);
}
.inputField1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px 0;
  max-width: 100%;
}
.inputFieldWrapper {
  width: 916px;
  flex-direction: row;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
  text-align: center;
  color: var(--branding-success);
}
.cTAProxygmailcom,
.inputFieldWrapper,
.textCompany {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cTAProxygmailcom {
  flex: 1;
  flex-direction: column;
  gap: 40px 0;
}
.textCompany {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl) var(--padding-base);
  box-sizing: border-box;
  color: var(--gray-scale-gray-400);
}
.headingChild {
  height: 36px;
  width: 984px;
  position: relative;
  background-color: var(--gray-scale-gray-50);
  flex-shrink: 0;
  display: none;
}
.product {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.imageLogo {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.price {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.imageLogo1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.quantity,
.subtotal2 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.heading1 {
  align-self: stretch;
  background-color: var(--gray-scale-gray-50);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  gap: var(--gap-110xl);
  z-index: 1;
}
.devider,
.devider1 {
  width: 944px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  z-index: 1;
}
.buttonSubscribe {
  flex: 1;
  overflow-x: auto;
  flex-direction: column;
  gap: 8px 0;
}
.buttonSubscribe,
.buttonSubscribeWrapper,
.headingParent,
.orderHistory {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.buttonSubscribeWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-900);
}
.headingParent,
.orderHistory {
  flex-direction: column;
}
.headingParent {
  align-self: stretch;
  gap: 12px 0;
  font-size: var(--caps-lock-small-caps-lock-size);
}
.orderHistory {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  padding: 0 0 var(--padding-xl);
  gap: var(--gap-5xl);
  min-width: 641px;
  text-align: left;
  font-size: var(--body-small-body-small-400-size);
  color: var(--gray-scale-gray-700);
  font-family: var(--body-small-body-small-400);
}
@media screen and (max-width: 925px) {
  .cartFrame,
  .heading {
    flex-wrap: wrap;
  }
  .billingShipping {
    min-width: 100%;
  }
  .total {
    flex: 1;
  }
  .socialMediaIcons,
  .text3 {
    flex-wrap: wrap;
  }
  .cTAProxygmailcom {
    gap: 20px 0;
  }
  .heading1 {
    gap: var(--gap-45xl);
  }
  .orderHistory {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .orderDetails {
    font-size: var(--body-medium-body-medium-500-size);
    line-height: 24px;
  }
  .frameSubscribe,
  .linksMeatFish {
    flex-wrap: wrap;
  }
  .headerGroup,
  .headerGroup1 {
    gap: 18px 0;
  }
  .billingShipping {
    height: auto;
    min-height: 280;
  }
  .button,
  .shippingParent,
  .subtotal {
    flex-wrap: wrap;
  }
  .shipping {
    height: auto;
  }
  .totalParent {
    flex-wrap: wrap;
  }
  .total1 {
    height: auto;
  }
  .progress {
    flex-wrap: wrap;
  }
  .heading1 {
    gap: var(--gap-13xl);
  }
}
